root = true

[*.{kt,kts}]
ktlint_standard_filename = disabled

[app/src/main/java/**/presentation/**/*.kt]
ktlint_standard_function-naming = disabled

[app/src/main/java/**/core/designsystem/**/*.kt]
ktlint_standard_function-naming = disabled
